# Ignore everything
*

# But do NOT ignore these:
!src/
!build.xml
!ivy.xml

# Inside src/, still ignore everything except java files
src/*
!src/**/*.java

# (optional) If you want to allow package-info.java, remove this line.
